header {
  background-color: #3574F2;
  display: flex;
  justify-content: space-between;
  padding: 40px 360px 20px 142px;
}

body {
  margin: 0;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.project-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
  color: white;
}

.logo {
  height: 59px;
  display: flex;
  column-gap: 23px;
}


.select-city  {
  display: flex;
  flex-direction: column;
  justify-content: center;
}